/* For mobile screens  */
@media (max-width: 576px){
    nav , ul {
        flex-direction: column;
        align-items: center;
    }
    .influencer-container{
        flex-direction: column-reverse;
    }
    .influencer-info{
        width: fit-content;
        text-align: center;
    }
    .sponsor-container{
        flex-direction: column;
        gap: 1.5rem;
    }
    .sponsor-icons{
        gap: 0.2rem;
        /* justify-content: center; */
    }
    .divider{
        display: none;
    }

    .collection-container{
        grid-template-columns: repeat(1, 1fr);

    }
    .collection-box > img{
        width: 100%;
    }
}
/* For tablets  */
@media (max-width: 767px){

}